{% extends 'core/base.html'%}
{% block content%}
<div class="container-fluid">
    <div class="container text-light">
        <h1 class="border-bottom mt-3 text-warning">Services</h1>
        <div class="row text-center">
            <div class="col-sm-4 mt-3">

                <div class="icons">
                    <i class="fa-solid fa-magnifying-glass-plus fa-2x"></i>
                </div>
                <div class="content mt-2">
                    <h3 class="text-warning">SEO</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-sm-4 mt-3">
                <div class="icons">
                    <i class="fa-solid fa-palette fa-2x"></i>
                </div>
                <div class="content mt-2">
                    <h3 class="text-warning">Web Search</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-sm-4 mt-3">
                <div class="icons">
                    <i class="fas fa-code fa-2x"></i>
                </div>
                <div class="content mt-2">
                    <h3 class="text-warning">Code</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4 mt-3">

                <div class="icons">
                    <i class="fa-brands fa-android fa-2x"></i>
                </div>
                <div class="content mt-2">
                    <h3 class="text-warning">Android</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-sm-4 mt-3">
                <div class="icons">
                    <i class="fa-brands fa-apple fa-2x"></i>
                </div>
                <div class="content mt-2">
                    <h3 class="text-warning">iOS</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-sm-4 mt-3">
                <div class="icons">
                    <i class="fa-solid fa-rectangle-ad fa-2x"></i>
                </div>
                <div class="content mt-2">
                    <h3 class="text-warning">Advertising</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4 mt-3">

                <div class="icons">
                    <i class="fa-solid fa-pen fa-2x"></i>
                </div>
                <div class="content mt-2">
                    <h3 class="text-warning">SEO</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-sm-4 mt-3">
                <div class="icons">
                    <i class="fa-sharp fa-database fa-2x"></i>
                </div>
                <div class="content mt-2">
                    <h3 class="text-warning">Web Search</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-sm-4 mt-3">
                <div class="icons">
                    <i class="fa-sharp fa-headphones fa-2x"></i>
                </div>
                <div class="content mt-2">
                    <h3 class="text-warning">Code</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content%}