{% extends 'core/base.html'%}
{% load static %}
{% block content%}
    <div class="main-content">
        <div class="pic text-center">
            <img src="{% static 'core/images/lucky.jpg' %}" alt="lucky" class="img-thumbnail text center mt-5 " height="250px" width="150px">
        </div>
        <div class="heading pt-3">
            <h3 class="text-light st-font">Hello</h3>
        </div>
        <div class="paragraph content-justify text-light">
            <p class="para1 " style="text-indent:100px;" >Lorem ipsum dolor sit amet, <strong class=" text-uppercase text-warning">shyam kumar</strong> consectetur adipisicing elit. Amet aperiam autem corporis dolor eum impedit minima modi nostrum quas temporibus!</p>
            <p class="para2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci corporis culpa debitis et eveniet impedit ipsum laborum natus officia optio placeat porro quae quidem saepe sequi similique sit, ullam, voluptate?</p>
            <p class="para3">Lorem ipsum dolor sit amet, consectetur itaque Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur iure nihil odit quaerat quos sequi sint suscipit vitae voluptatum. Amet debitis deserunt dolorem esse fugit magni, nisi quam sapiente sunt voluptatibus!</p>

        </div>
        <div class="btnn my-3 text-center">
            <div class="btn btn-outline-warning">Hire Me</div>
            <div class="btn btn-outline-info mx-2">Contact</div>
        </div>
    </div>
{% endblock content%}
