{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Login</h3>
   <hr>
   <form action="" method="post" novalidate class="shadow p-5">
        {% csrf_token %}
        {% for fm in form%}
            <div class="form-group my-3">
                {{fm.label_tag}} {{fm}} <small class="alert-danger">{{fm.errors|striptags}}</small>
            </div>
        {% endfor%}
    <small><a href="{% url 'password_reset'%}">Forgot Password ?</a></small> <br>
    <input type="submit" class="btn btn-primary mt-4" value="Login">
    <br>
    <div class="text-center text-primary fw-bold"><small>New to ShoppinglyX ? <a href="{% url 'customerregistration' %}"
       class="text-danger">Create an Account</a> </small></div>
        {% if form.non_field_errors%}
            {% for fm in form.non_field_errors%}
                <div class="alert alert-danger my-4" >
                    {{fm}}
                </div>
            {% endfor%}
        {% endif %}    
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}