{% extends 'app/base.html' %}
{% load static %}
{% block title %}Placed Orders{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user|capfirst}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'orders' %}" class="btn btn-primary">Orders</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   
    {% for item in data %}
     <div class="row shadow-sm mb-3">
        <div class="col-sm-2">
            <img src="{{item.product.product_image.url}}" alt="" class="img-fluid" height="150" width="150">
        </div>        
        <div class="col-sm-7 fw-bold">
            <p>Product: {{item.product.title}}</p>
            <p>Quantity: {{item.quantity}}</p>
            <p>Price: {{item.product.discounted_price}}</p>
            <p>Total Cost:{{item.totalCost}}</p>
        </div>
        <div class="col-sm-3 fw-bold">
            <p>Order Status: {{item.status}}</p>
            {% if item.status == 'Accepted'%}
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemax="100" aria-valuemin="0" style="width: 20%;"></div>
            </div>
            {% endif %}
            {% if item.status == 'On the way'%}
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemax="100" aria-valuemin="0" style="width: 70%;"></div>
            </div>
            {% endif %}
            {% if item.status == 'Packed'%}
            <div class="progress pt-3" >
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemax="100" aria-valuemin="0" style="width: 40%;"></div>
            </div>
            {% endif %}
            {% if item.status == 'Delivered'%}
            <div class="progress pt-3" >
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemax="100" aria-valuemin="0" style="width: 100%;">

                </div>
            </div>
            {% endif %}
            {% if item.status == 'Cancelled'%}
            <div class="progress pt-3" >
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemax="100" aria-valuemin="0" style="width: 0%;">

                </div>
            </div>
            {% endif %}
        </div>
     </div>   
    {% endfor %}
    
   
  </div>
 </div>
</div>
{% endblock main-content %}