{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset confirm{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3 class="alert-heading">Well Done!!</h3>
   <form method="POST" action="" novalidate>
    {% csrf_token %}
     <div class="mb-3">
       {% if form %}
        {% for fm in form%}
        <div class="form-group my-3">
            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
        </div>
        {% endfor %}
       {% endif %}
     <button type="submit" class="btn btn-primary">Submit</button>
     {% if form.non_field_errors%}
        {% for error in form.non_field_errors%}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {% endfor %}
     {% endif %}
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}